<mk-box
  header="Riesgos Agregados"
  [isCollapsable]="false"
  [isRemovable]="false"
>
  <p-table
    #dt
    [value]="riesgos"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['idRiesgo', 'nombre', 'descripcion', 'causa']"
    [(selection)]="selectedRow"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <button
          class="btn btn-info"
          (click)="crearRiesgo('M')"
          *ngIf="selectedRow != undefined"
        >
          Modificar Riesgo <i class="fa fa-edit"></i>
        </button>
        <button
          class="btn btn-danger"
          (click)="eliminarRiesgo()"
          *ngIf="selectedRow != undefined"
        >
          Eliminar Riesgo <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-success" (click)="crearRiesgo('A')">
          Agregar Riesgo <i class="fa fa-plus"></i>
        </button>
      </div>
      <br />
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="Buscar"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3%"></th>
        <th style="width: 5%">ID</th>
        <th>Nombre</th>
        <th>Tipo de Riesgo</th>
        <th>Tipo de impacto</th>
        <th>Brecha</th>
        <th>Descripcion</th>
        <th>Causa</th>
        <th>Consecuencias</th>
        <th>Accion correctiva</th>
        <th>Generador del Riesgo</th>
        <th>Propietario del Riesgo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td>{{ rowData.identificador }}</td>
        <td>{{ rowData.nombre }}</td>
        <td>{{ rowData.idTipoRiesgo.nombre }}</td>
        <td>{{ rowData.idTipoImpacto.nombre }}</td>
        <td>{{ rowData.idTipoBrecha.nombre }}</td>
        <td>{{ rowData.descripcion }}</td>
        <td>{{ rowData.causa }}</td>
        <td>{{ rowData.consecuencias }}</td>
        <td>{{ rowData.accionCorrectiva }}</td>
        <td>{{ rowData.idGeneradorRiesgo.nombre }}</td>
        <td>{{ rowData.idResponsable.nombre }}</td>
      </tr>
    </ng-template>
  </p-table>
</mk-box>
