<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box
      header="Capas de Riesgo"
      [isCollapsable]="true"
      [isRemovable]="false"
      contentClasses="table-responsive"
    >
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
          </tr>
          <tr *ngFor="let value of capas">
            <td>{{ value.idRiesgoCapa }}</td>
            <td>{{ value.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box
      header="Agregar Capa de Riesgo"
      [isCollapsable]="true"
      [isRemovable]="false"
      contentClasses="table-responsive"
    >
      <form [formGroup]="capaForm" (ngSubmit)="onSubmitForm()">
        <mk-input-group inputErrorColor="warning">
          <mk-input-group-label>Nombre de la Capa</mk-input-group-label>
          <mk-input-group-addon-left
            ><i class="fa fa-user"></i
          ></mk-input-group-addon-left>
          <mk-input-group-addon-right
            ><i [ngClass]="capaForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i
          ></mk-input-group-addon-right>
          <mk-input-group-content>
            <input
              mkInputText
              formControlName="nombre"
              class="toto form-control"
            />
          </mk-input-group-content>
        </mk-input-group>
        <br />
        <button
          type="submit"
          [disabled]="capaForm.invalid"
          class="btn btn-primary"
        >
          Crear
        </button>
      </form>
    </mk-box>
  </div>
</div>
